<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Floor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name.capitalize %></td>
        <td><%= service.floor %></td>
        <td>
          <%= link_to '<button type="button" class="btn btn-info btn-sm">
          <span class="material-icons">edit</span></button>'.html_safe,
          edit_service_path(service) %>

          <%= link_to '<button type="button" class="btn btn-danger btn-sm">
          <span class="material-icons">clear</span></button>'.html_safe, 
          service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path, class: "btn btn-secondary btn-sm" %>
