<%= form_with(model: ip, local: true) do |form| %>
  <% if ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ip.errors.count, "error") %> prohibited this ip from being saved:</h2>

      <ul>
        <% ip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :hostname %>
    <%= form.text_field :hostname, class: "form-control", placeholder: "ComputerName" %>
  </div>

  <div class="form-group">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, class: "form-control", placeholder: "0.0.0.0" %>
  </div>

  <div class="form-group">
    <%= form.label :plug %>
    <%= form.text_field :plug, class: "form-control", placeholder: "00.0" %>
  </div>

  <div class="form-group">
    <%= form.label :room_id %>
    <%= form.select :room_id, @rooms.collect {|p| ["#{p.name} (#{p.sector.name})", p.id]}, {include_blank: true},
    class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :device_id %>
    <%= form.select :device_id, @devices.collect {|p| ["#{p.name}", p.id]}, {include_blank: true}, 
    class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :operating_system_id %>
    <%= form.select :operating_system_id, @devices.collect {|p| ["#{p.name}", p.id]}, {include_blank: true}, 
    class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :submit, class: "btn btn-primary"  %>
  </div>
<% end %>
