<table class="table">
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Plug</th>
      <th>Hostname</th>
      <th>Room</th>
      <th>Device</th>
      <th>Operating System</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ips.each do |ip| %>
      <tr>

        <td>
          <% if params[:ping] %>
            <% if ip.ping %>
              <span class="material-icons text-success">radio_button_checked</span>
            <% else %>
              <span class="material-icons text-danger">radio_button_unchecked</span>
            <% end %>
          <% end %>
        
          <%= ip.ip_address %>
        </td>

        <td>
          <% if ip.plug %>
            <%= ip.plug %>
          <% else %>
            <%= "- -" %>
          <% end %>
        </td>

        <td><span class="text-info"><%= ip.hostname.upcase %></span></td>

        <td><%= ip.room.name.capitalize %></td>

        <td><%= ip.device.name.capitalize %></td>

        <td><%= ip.operating_system.name.capitalize %></td>
        

        <td><%= link_to '<button type="button" class="btn btn-info btn-sm">
          <span class="material-icons">edit</span></button>'.html_safe,
          edit_ip_path(ip) %>

          <%= link_to '<button type="button" class="btn btn-danger btn-sm">
          <span class="material-icons">clear</span></button>'.html_safe,
           ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>